@use '~fontawesome/scss/variables' with (
  $font-path: '~fontawesome/webfonts',
);

@use '~fontawesome/scss/fontawesome';
@use '~fontawesome/scss/fa' as fa;
@use '~fontawesome/scss/solid' as fa-solid;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/*
body {
    // https://codepen.io/billyysea/pen/nLroLY
    background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%);
    min-height: 100vh;
}
 */

:root {
    --main-bg: #e7edfa;
    --main-text: #000;
    --container-bg: #fcfcfc;
    --forecast-text: initial;
    --icon-color: #00526beb;
    --icon-shadow: none;
    --icon-btn-shadow: 1px 1px 8px rgba(145, 145, 145, 0.15);
    --icon-btn-color: #0a95c0;
    --btn-bg: #f0f7f8;
    --btn-border: 1px solid #0a95c0;
}

.dark {
    --main-bg: #242230;
    --main-text: #f6f7fa;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    --container-bg: #2e3540;
    --forecast-text: #bdbdbd;
    --icon-color: rgb(225, 255, 239);
    --icon-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    --icon-btn-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    --icon-btn-color: #f6f7fa;
    --btn-bg: #2e3540;
    --btn-border: 1px solid #545555;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--main-bg);
    color: var(--main-text);
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
    background-color: rgba(149, 205, 236, 0.25);
    border-radius: 10px;
    width: 10px;
}

/* ELEMENT & TEXT STYLES */
h1 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    padding: 0;
}

strong {
    font-weight: bold;
}

small {
    font-size: 14px;
}

p {
    margin: 5px 10px;
}

a {
    color: rgb(66, 111, 182);
    transition: all 150ms ease-in;
    text-decoration: none;
}

a:hover {
    background: linear-gradient(rgba(212, 214, 254, 0.8), #9acedd);
    border-radius: 10px;
    padding: 2px 4px;
}

hr {
    margin: 0;
}

footer i {
    font-size: 14px;
    color: var(--icon-color);
    text-shadow: var(--icon-shadow);
}

.toggle-temps {
    font-size: 14px;
    vertical-align: super;
}

.toggle-temps a:hover {
    font-size: 16px;
}

.celsius {
}

#location {
    font-weight: bold;
}

/* THEME TOGGLE SWITCH  */
#flexSwitchCheckChecked {
    padding: 15px 24px;
}

.form-switch .form-check-input {
    margin-left: 0;
}

.form-check-input:checked {
    background-color: #0a95c0;
    border-color: #0a95c0;
}

.form-check-input {
    background-color: #f0f7f8;
    border-color: #0a95c0;
    cursor: pointer;
}

/* CONTAINER CONTENT */
.local-overview,
.local-webcam,
.historical-charts {
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15), -2px -2px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background: var(--container-bg);
}

.weather-icon {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2))
    drop-shadow(-1px -1px 2px rgba(77, 77, 77, 0.3));
}

/* LOCAL WEATHER CONTAINER CONTENT */
.daily,
.card,
.form-check-input {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.current-weather {
    background: #bfedfb;
    border-radius: 10px;
}

.current-weather h1 {
    font-size: 40px;
}

.temperature-icon {
    height: 60px;
    margin-top: -5px;
    margin-right: -15px;
    margin-left: -10px;
}

.card {
    min-height: 230px;
    margin-top: 10px;
}

.card-img {
    height: 230px;
    object-fit: cover;
    opacity: 0.5;
}

.card li {
    font-size: 18px;
    background: rgba(198, 241, 217, 0.4);
}

.temp-details i {
    font-size: 13px;
    color: rgba(0, 82, 37, 0.798);
}

.temp-details i.emblem {
    padding-left: 10px;
}

.temp-details .card {
    background: rgba(198, 241, 217, 0.4);
}

.sun-time i {
    font-size: 17px;
    color: var(--icon-color);
    text-shadow: var(--icon-shadow);
}

#description-temp {
    text-transform: capitalize;
}

/* Webcam */
.card-full-img {
    object-fit: cover;
    border-radius: 20px;
}

/* Charts */
.card-chart {
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;
}

.chart-container {
    border-radius: var(--bs-card-border-radius);
}

/* Additional DARK STYLES */
.dark .card:not(.initial),
.list-group-item {
    background-color: var(--main-bg);
    color: var(--main-text);
    text-shadow: var(--text-shadow);
}

.dark .list-group-item i {
    color: var(--icon-color);
    text-shadow: var(--icon-shadow);
}

.dark .list-group-item {
    color: rgb(246, 255, 250);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

// TODO vertical padding is actually margin created by "my-N" classes
@media only screen and (max-width: 576px) {
    .row > section {
        --bs-gutter-x: 0;
    }
}
